<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forknife</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </head>
  <body>
<div class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        My Fortnite Stats
      </h1>
    </div>
  </div>
</div>
 {% if stats %}
 <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ stats['matches'] }}</p>
                                <p class="subtitle">Games</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title is-1">{{ stats['wins'] }}</p>
                                <p class="subtitle">Wins</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ stats['kills'] }}</p>
                                <p class="subtitle">Frags</p>
                            </article>
                        </div>
                    </div>
  </section>
 <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ stats['top12'] }}</p>
                                <p class="subtitle">Top12</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ stats['top3'] }}</p>
                                <p class="subtitle">Top3</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{ stats['top25'] }}</p>
                                <p class="subtitle">Top25</p>
                            </article>
                        </div>
                    </div>
  </section>
    {% endif %}
</body>

</html>
